{% extends 'base/main.html' %}

{% block content %}

{% csrf_token %}

 {% if request.user.is_authenticated %}
    <p class="user">Welcome,  {{request.user|title}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}


<hr>
  <h1>My Note App</h1>
  <a href="{% url 'task-create' %}">Add Note</a>

  <table>
    <tr>
        <th>Notes</th>
        <th></th>
        <th></th>
    </tr>
    
    {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task' task.id %}">View</a></td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
          <h3>No item in list </h3>
           
    {% endfor %}
        
  </table>
{% endblock content %}
    
